:root {
  --primary-color: #caa05c; /* global scope */ 
  --second-color: #59585D;
  --third-color : #f2ede6;
  --fourth-color: #5c4e48;
  --fifth-color : #efeff0dc;

}
a{
    text-decoration: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Golos Text", sans-serif;
}

.button-primary{
    color: white;
    background-color: var(--primary-color);
}
.title{
    text-align: center;
    justify-items: center;
    h6{
        color: var(--primary-color);
        margin: 10px;
    }
    h1{
        margin: 10px
    }

}
.sub-title{
    text-align: center;
    color: var(--second-color);
    margin: 20px 0 20px 0;
    justify-items: center;
}


.container,
.container-sm,
.container-md,
.container-lg,
.container-xl,
.container-fluid {
  width: 100%;

  margin-inline: auto;  /* center it */
}

/* --- Fluid: always 100%, just has padding --- */
.container-fluid {
  max-width: 100%;
}

/* --- sm: 576px and up --- */
@media (min-width: 576px) {
  .container,
  .container-sm {
    /* max-width: 540px; */
    padding: 0 20px 0 20px;
  }
}

/* --- md: 768px and up --- */
@media (min-width: 768px) {
  .container,
  .container-sm,
  .container-md {
    /* max-width: 720px; */
    /* padding-inline: 1.5rem; */
        padding: 0 30px 0 30px;

  }
}

/* --- lg: 992px and up --- */
@media (min-width: 992px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 100%;
    /* padding-inline: 2rem; */
  }
}

/* --- xl: 1200px and up --- */
@media (min-width: 1200px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px;
  }
}

/* --- xxl: 1400px and up --- */
@media (min-width: 1400px) {
  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1320px;
    /* padding-inline: 2.5rem; */
  }
}


        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 60px;
            background-color: #fff;
            /* box-shadow: 0 2px 10px rgba(0,0,0,0.1); */
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 16px;
            transition: top 0.3s ease;
            z-index: 1000;
        }
        /* @media (min-width: 1200px){
            nav{
                max-width: 1140px;

            }
        }
        @media (min-width: 1400px){
            nav{
                max-width: 1320px;
            }
        } */

        nav.hide {
            top: -60px; /* លាក់ nav */
        }


        /* nav {
            display: flex;
            flex-direction: row;
            width: 100%;
            height: 70px; */
            /* background-color: aqua; */
            /* font-size: 20px;
            justify-content: space-between;
            align-items: center;
        } */
        
        a {
            text-decoration: none;
            /* font-weight: bold; */
        }
        
        .Logo {
            background-image: url('../image/logo-black.webp');
            background-position: start;
            background-size: contain;
            background-repeat: no-repeat;
            height: 70%;
            width: 20%;
            /* margin: 5px; */
        }
        
        .center {
            /* background-color: black; */
            font-weight: bold;
            color: black;
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            a {
                color: black;
            }
            *{
                padding: 0 20px 0 20px;
            }
        }
        @media(max-width: 768px) {
            .center{
                display: none;
            }    
        }
        
        .first {
            /* color: white; */
        }
        
        .second {
            /* color: blue; */
        }



        


.container-explore-room{
    margin-top: 60px;
    padding-top: 20px;
    width: 100%;
    /* height: 180vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--fifth-color);
}
.container-explore-room .wrap{
    width: 100%;
    /* height: 50vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
    justify-content: center;
}
/* .container-explore-room .wrap-2{
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.card-room{
    display: flex;
    flex-direction: column;
    height: 460px;
    width: 100%;
    /* background-color: aqua; */
    align-items: center;
    justify-content: center;
    padding: 15px;
    /* border: 1px solid black; */
    /* margin: 20px; */
}
@media (min-width: 768px){
.card-room{
    width: calc(100%/2);
}

}
.card-room .img{
    border-radius: 20px;
    height: 80%;
    width: 100%;
    object-fit: cover;  

}
.card-room .wrap1{
    display: flex;
    flex-direction: row;
    height: 10%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: var(--second-color);
}
.card-room .wrap1 .left{
    display: flex;

}
.card-room .wrap1 .left .guest{
    margin-right: 20px;

}
.card-room .wrap1 .right{
    .price-room{
        font-size: 20px;

    }
}
.card-room .wrap2{
    height: 10%;
    width: 100%;
    text-align:start;
    font-weight: 700;
    font-size: 25px;

}

/* review */
/* .container-reviews{
    display: flex;
    flex-direction: row;
    object-fit: cover;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-image: url('../image/background.webp'); */
    /* background-color: rgba(0, 0, 0, 0.247); */
    /* border-radius: 15px; */
    /* color: aliceblue; */
    /* align-items: center; */
/* }  */

.container-reviews {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50vh;
    background-image: url('../image/background.webp');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    color: aliceblue;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.container-reviews::before {
    content: '';
    position: absolute;
    inset: 0;
    backdrop-filter: blur(1px);              /* blur */
    background-color: rgba(0, 0, 0, 0.349);   /* ងងឹត */
    z-index: 0;
}
/* chile content stays visible on top */
.container-reviews > * {
    position: relative;
    z-index: 1;
}

.container-reviews .left{
    display: flex;
    flex-direction: column;
    /* height: 300px; */
    width: 40%;
    justify-content: center;
    align-items: center;
}
.container-reviews .right{
    display: flex;
    flex-direction: column;
    /* height: 300px; */
    width: 60%;
    justify-content: space-between;
    align-items: start;
}


/* experience-comfort */
.container-experience-comfort{

    display: flex;
    flex-direction: column;
    width: 100%;
    /* padding: 30px 250px 30px 250px; */
    background-color: var(--third-color);

}
@media (max-width: 1200px){
    .container-experience-comfort{
    /* padding: 30px 70px 30px 70px; */

    }    
}
.container-experience-comfort .wrap1{
    display: flex;
    width: 100%;
    margin: 10px 0px 10px 0px;
    .title{
        width: 50%;
        h1,h6{
            text-align: left;
        }

    }
    .sub-title{
        width: 50%;
        text-align: left;
    }
}
.container-experience-comfort .wrap2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 0px;
    a{
        font-weight: 600;
        font-size: 14px;
        border-radius: 5px;
        padding: 5px 10px 5px 10px;
        margin: 5px;
        background-color: var(--third-color);
        color: var(--second-color);
        cursor: pointer;
    }
    a:hover{
        background-color: white;
    }
    .active{
        color: white;
        background-color: var(--primary-color);
    }
    .active:hover{
        background-color: var(--primary-color);
    }
}
.container-experience-comfort .wrap3{
    /* display: flex; */

}
.gallery{
    display: flex;
    flex-wrap: wrap;
}
.gallery .image{

    width: calc(100%/4);
    padding: 10px;

}
@media(max-width: 1200px){
    .gallery .image{
        width: calc(100%/3);
    }

}
@media(max-width: 768px){
    .gallery .image{
        width: calc(100%/2);
    }
}

.gallery .image.hide{
    display: none;
    transition: all 0.5s ease;
}
.gallery .image.show{
    display: block;
    animation: animate 0.5s ease;
}
@keyframes animate{
    0%{
        transform: scale(0.4);
    }
    100%{
        transform: scale(1);
    }
}

.gallery .image span{
    width: 100%;
    display: flex;
    overflow: hidden;

}
.gallery .image img{
    transition: all 0.5s ease;
    width: 100%;
    /* vertical-align: middle; */
}
.gallery .image:hover img{
    transform: scale(1.1);
    /* transition: 500ms; */
}



/* check in */
.container-checkin{
    display:flex;
    flex-direction: row;
    height: 300px;
    width: 100%;
    background-color: var(--fifth-color);
    justify-content: center;
    align-items: center;
}
/* @media(max-width: 768px){
    .container-checkin{
        display: none;
    }
} */
.container-checkin .wrap {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 50%;
    background-color: white;
    justify-content:space-around;
    align-items: center;
    border-radius: 10px;
}
.container-checkin .wrap .block{
    display: flex;
    flex-direction: column;
    width: 15%;

}

.container-checkin .wrap .btn-submit{
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: 700;
    color:white;
    background-color:#caa05c;
    border: 1px solid #caa05c; 
    border-radius: 13px;
}
.style-input{
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.507);
    background-color: #efeff0dc;
    cursor: pointer; /* ត្រឹមត្រូវ */
}




/* exclusive-deal */
.container-exclusive-deal{
    width: 100%;
    background-color: var(--third-color);
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 30px; */
    padding: 30px 250px 30px 250px;

}
@media(max-width: 1400px) {
    .container-exclusive-deal{
        padding: 30px 100px 30px 100px;
    }
}
@media(max-width: 992px){
        .container-exclusive-deal{
        padding: 30px 0px 30px 0px;
    }
}


.container-exclusive-deal .wrap{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
@media (max-width: 768px) {
    .container-exclusive-deal .wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

}
.card-item{
    display: flex;
    flex-direction: column;
    width: 27%;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    background-color: var(--fourth-color);
}
@media(max-width: 768px){
    .card-item{
        width: 80%;
    }
}
.card-item .image{
    height: 80%;
    display: flex;
}
.card-item .image span{
    width: 100%;
    display: flex;
    overflow: hidden;
    /* border-radius: 15px 15px 0px 0px; */


}
.card-item .image img{
    transition: all ease 0.5s;
    width: 103%;
    object-fit: cover;  
}
.card-item .image:hover img{
    transform: scale(1.1);

}
.card-item .text{
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: start;
    text-align: left;

}
.card-item .title{
    color: white;
    font-size: 24px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 20px;
}
.card-item .sub-title{

    color: white;
    font-size: 14px;
    padding-left: 20px;
    padding-bottom: 20px;

    
}


/* our block */

.container-ourBlog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 85vh;
    width: 100%;
    background-color: var(--fifth-color);

}
.container-ourBlog .wrap{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    height: 85%;
    width:  100%;
}
.container-ourBlog .wrap .card{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 15%;
    margin: 15px;
}
.container-ourBlog .wrap .card .img-card{
    width: 100%;
    height: 50%;
    border-radius: 10px;
    margin-bottom: 20px;
    display: block;
}

.container-ourBlog .wrap .card .img{
    width: 100%;
    height: 100%;
    background-image: url('/image/1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;

}
/* .container-ourBlog .wrap .card .img:hover{
        transform: scale(1.2);

} */


.container-ourBlog .wrap .card .title{
    font-weight: 1000;
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}
.container-ourBlog .wrap .card .content{
    color: gray;
}


/* footer */


.container-footer {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 100%;
    background-color: #574640;
    border-radius: 15px;
    /* justify-content: center; */
    align-items: center;
}

.container-footer .wrap1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 280px;
    /* background-color: aliceblue; */
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(133, 128, 128, 0.555);
}

.container-footer .wrap1 .left {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    /* background-color: aliceblue; */
    color: white;
    align-items: center;
    justify-content: center;
}

.container-footer .wrap1 .mid {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    /* background-color: aliceblue; */
    justify-content: center;
    align-items: center;
}

.container-footer .wrap1 .right {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    color: white;
    align-items: center;
    justify-content: center;
}

.container-footer .wrap2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

